<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cuervo1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,41}</string>
                <key>spriteSourceSize</key>
                <string>{60,41}</string>
                <key>textureRect</key>
                <string>{{1,1},{60,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cuervo2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,38}</string>
                <key>spriteSourceSize</key>
                <string>{60,38}</string>
                <key>textureRect</key>
                <string>{{1,44},{60,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cuervo3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,35}</string>
                <key>spriteSourceSize</key>
                <string>{60,35}</string>
                <key>textureRect</key>
                <string>{{1,84},{60,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cuervo.png</string>
            <key>size</key>
            <string>{62,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:689db56d92bf55954f2894eafe830ef3:8579a30bd939fb564c0d2571915cc025:c098b68adddc512622e0d3dbb5371d32$</string>
            <key>textureFileName</key>
            <string>cuervo.png</string>
        </dict>
    </dict>
</plist>
