<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cuervo1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,98}</string>
                <key>spriteSourceSize</key>
                <string>{173,98}</string>
                <key>textureRect</key>
                <string>{{1,109},{173,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cuervo2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,114}</string>
                <key>spriteSourceSize</key>
                <string>{171,114}</string>
                <key>textureRect</key>
                <string>{{1,209},{171,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cuervo3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,106}</string>
                <key>spriteSourceSize</key>
                <string>{173,106}</string>
                <key>textureRect</key>
                <string>{{1,1},{173,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cuervo.png</string>
            <key>size</key>
            <string>{175,324}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f718063ef6a58fb084edbf5c1d2629a:746da12cfa52443d7bc5bbac6b48d7ea:c098b68adddc512622e0d3dbb5371d32$</string>
            <key>textureFileName</key>
            <string>cuervo.png</string>
        </dict>
    </dict>
</plist>
