<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gallina1.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,77},{72,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,3},{72,68}}</string>
				<key>sourceSize</key>
				<string>{82,75}</string>
			</dict>

			<key>gallina2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{97,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1},{97,76}}</string>
				<key>sourceSize</key>
				<string>{103,78}</string>
			</dict>

			<key>gallina3.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,147},{83,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,5},{83,70}}</string>
				<key>sourceSize</key>
				<string>{86,80}</string>
			</dict>

			<key>gallina4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,147},{92,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,1},{92,77}}</string>
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>

			<key>gallina5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,77},{93,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,2},{93,69}}</string>
				<key>sourceSize</key>
				<string>{95,74}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{256,256}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>